.toastContainer {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  display: flex;
  width: 31.25rem; /* 500px */
  padding: var(--padding-2);
  flex-direction: column;
  gap: var(--gap-2);
}
